body[theme="main"] {
    --text-color: #f0f8ff;
    --background: #1e2a38;
    --navbar: #15202b; 
    --accent: #3498db; 
}

body[theme="darkmode"] {
    --text-color: #ffffff;
    --background: #000000;
    --navbar: #3c3c3c; 
    --accent: #ffffff; 
}

body[theme="myeyes"] {
    --text-color: #000000;
    --background: #ffffff;
    --navbar: #ffffff; 
    --accent: #000000; 
}

body[theme="lebronjamesgames"] {
    --text-color: #a48db7;
    --background: #242424;
    --navbar: #242424; 
    --accent: #f1c232; 
}

